:root {
  --color-black: #000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-white: #fff;
  --color-light: #f9f9f9;
  --color-light-grey: #eeeff1;

  --font-size: 16px;
  --font-primary: "Roboto", sans-serif;
  --leter-spacing-md: 0.1em;
  --line-height-sm: 1.2;
  --line-height: 1.64;

  --container-primary: 1110px;
  --container-sm: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-md: calc(var(--gap) * 1.5);
  --gap-lg: calc(var(--gap) * 2);
}
/* typography */
* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--font-size);
  font-family: var(--font-primary);
  line-height: var(--line-height);
  font-weight: 400;
}
.link {
  text-decoration: none;
  color: var(--color-black);
}
/* common properties */
.container {
  width: calc(100% - var(--gap-lg));
  max-width: var(--container-primary);
  margin-inline: auto;
}
.container-sm {
  width: calc(100% - var(--gap-lg));
  max-width: var(--container-sm);
}
/* header */
.header {
  padding-top: 67px;
  padding-bottom: 140px;
  background-color: var(--color-light-grey);
}
.navbar {
  margin-bottom: 145px;
}
.navbar__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm) var(--gap-md);
  margin-left: calc(var(--gap-sm) * -1);
}
.navbar__list-link {
  display: block;
  letter-spacing: var(--leter-spacing-md);
  padding: var(--gap-sm);
  border-bottom: transparent 2px solid;
  text-transform: uppercase;
}
.navbar__list-link:hover {
  border-bottom: var(--color-primary) 2px solid;
}
.navbar__list-link--active {
  color: var(--color-primary);
  font-weight: 500;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content__title {
  margin: 0 0 45px;
  font-size: 3rem;
  font-weight: 500;
}
.content__description {
  margin-bottom: 55px;
  color: var(--color-secondary);
}
.content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: var(--leter-spacing-md);
  background-color: var(--color-primary);
  color: var(--color-white);
  min-height: 65px;
  min-width: 225px;
  text-transform: uppercase;
}
/* main */

.section {
  text-align: center;
}
.section__title {
  font-weight: 500;
  line-height: var(--line-height-sm);
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 500;
  line-height: var(--line-height-sm);
}
.section__description {
  color: var(--color-secondary);
}
/* section about */
.about {
  background-color: var(--color-light);
  padding-top: 112px;
  padding-bottom: 100px;
}
/* experience */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden; /* Optional for fallback support */
}
.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding-top: 100px;
  padding-bottom: 100px;
}
.experience__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-lg);
  justify-content: space-between;
}
.experience-item {
  display: flex;
  gap: var(--gap);
}
.experience-item__description {
  line-height: var(--line-height-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.experience-item__number {
  font-size: 1.3125rem;
  font-weight: 500;
}
.experience-item__image {
  order: -1;
}
.experience-item__img {
  display: block;
}
/* section work */
.work {
  background-color: var(--color-light-grey);
  padding-top: 100px;
  padding-bottom: 100px;
}
.work__description {
  padding-bottom: 57px;
}
.video__iframe {
  display: block;
  width: 100%;
  height: auto;
  min-height: 200px;
  aspect-ratio: 16/9;
  border: 0;
}
/* footer */
.footer {
  background-color: var(--color-primary);
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--color-white);
}
.copyright__title {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: var(--line-height-sm);
  margin-bottom: 20px;
}
.copyright__description {
  font-size: 0.8125rem;
}
